# Análise exploratória de dados

In [2]:
from IPython.display import display, Markdown

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
import matplotlib.pyplot as plt

In [9]:
import seaborn as sns

colors = ["#1f77b4", "#2ca02c", "#ff7f0e"]

# sns.set_style("whitegrid")
sns.set_theme(style="ticks")
sns.set_palette(sns.color_palette(colors))

In [35]:
pip install pillow

Requirement already satisfied: pillow in /home/kesava/.cache/pypoetry/virtualenvs/src-vRm2bxmN-py3.10/lib/python3.10/site-packages (9.5.0)

[notice] A new release of pip is available: 24.1 -> 24.1.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## 1. Leitura do Conjunto de Dados

In [34]:
df = pd.read_csv('../data/raw/titanic.csv')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# 2. Descrição do Conjunto de dados

O conjunto de dados Titanic, escolhido para este estudo, foi obtido da plataforma Kaggle, embora também esteja disponível em outras fontes. Este conjunto de dados é amplamente utilizado em análises exploratórias de dados e projetos de aprendizado de máquina devido à sua riqueza de informações sobre os passageiros do RMS Titanic. O Titanic naufragou na noite de 15 de abril de 1912 após colidir com um iceberg, resultando na perda de inúmeras vidas. O dataset contém um compêndio detalhado sobre os passageiros, incluindo informações de embarque e sobrevivência, o que permite realizar uma variedade de análises e modelagens preditivas relacionadas a esse trágico evento histórico.
Neste conjunto de dados, a variável dependente é **Survived**, e as variáveis preditoras são **Pclass**, **Sex**, **Age**, **SibSp**, **Parch**, **Fare**, **Embarked**, **Class**, **Who**, **Adult_male**, **Deck**, **Embark_town**, **Alive** e **Alone**.

### 2.1. Dicionário de Dados

In [61]:
dicionario = pd.read_csv('../data/external/dictionary.csv')
dicionario

,variavel,descrição,tipo,subtipo
0,survived,Indica se o passageiro sobreviveu (sim = 1 ou ...,qualitativa,nominal
1,pclass,"Classe do ticket do passageiro (1 = 1ª, 2 = 2ª...",qualitativa,ordinal
2,sex,Sexo do passageiro,qualitativa,nominal
3,age,Idade do passageiro,quantitativa,contínua
4,sibsp,Número de irmãos/cônjuges a bordo,quantitativa,discreta
5,parch,Número de pais/filhos a bordo,quantitativa,discreta
6,fare,Tarifa paga pelo passageiro,quantitativa,contínua
7,embarked,Porto de embarque (C = Cherbourg; Q = Queensto...,qualitativa,nominal
8,class,"Classe do ticket (Primeira, Segunda, Terceira)",qualitativa,ordinal
9,who,"Descrição da pessoa (homem, mulher, criança)",qualitativa,nominal
10,adult_male,Indica se é um homem adulto (Verdadeiro/Falso),qualitativa,nominal
11,deck,Deck do passageiro,qualitativa,nominal
12,embark_town,Cidade de embarque,qualitativa,nominal
13,alive,Indica se o passageiro sobreviveu (sim ou não),qualitativa,nominal
14,alone,Indica se o passageiro estava sozinho (Verdade...,qualitativa,nominal

*  O conjunto apresenta 15 variáveis, com 8 qualitativas nominais, 3 qualitativas ordinais, e 4 quantitativas (2 contínuas e 2 discretas).

## 3. Perguntas de partida e hipóteses

## 4. Insights